<div class="Toast">
  <slot />
</div>

<script>
  export default {
    oncreate() {
      this.timer = setTimeout(() => {
        this.destroy()
      }, 5 * 1000);
    },
    ondestroy() {
      if (this.timer) {
        clearTimeout(this.timer)
      }
    }
  }
</script>

<style>
  .Toast {
    position: fixed;
    right: 2em;
    bottom: 2em;
    background: white;
    border-radius: 5px;
    box-shadow: 0 24px 48px rgba(17, 16, 62, 0.12);
    color: #4950F6;
    display: inline-block;
    padding: .75em 1em;
    z-index: 999;
  }
</style>
